.fronpg{
    width: 100%;
    height: 55em;
    text-align: center;
    float: left;
    padding-top: 5em;
    padding-bottom: 2em;
    display: table;
}
.toc{
    font-size: 3em;
}
.toch1{
    font-size: 4em;
}
